<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>

<body>

    <div id="box">
        <input type="text" v-model="mytext">
        <button @click="handleAdd">add</button>
        <ul>
            <li v-for="data,index in datalist">
                {{data}}
                <button @click="handleDel(index)">del</button>
            </li>
        </ul>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        Vue.createApp({
            data() {
                return {
                    mytext: "",
                    datalist: ["11", "22", "33"],
                }
            },
            methods: {
                handleAdd() {
                    this.datalist.push(this.mytext)
                },
                handleDel(index) {
                    this.datalist.splice(index, 1)
                }
            }
        }).mount('#box')
    </script>
</body>

</html>